# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

#cmake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
config.h

# Logs
logFile
*.swp
*~

# Executables
khan
*.exe
*.out
*.app

# Machine Dependent
.DS_Store

# Experimental
khan_root
khan_root2
khan_root11
khan_root101
khan_root1001
khan_root4001
test
start_times.txt
dir_cpy_tims.txt
